* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   height: 100%
}
nav {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.pagination{

}
#prevPage,#nextPage{
    color: #333333;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 0.2rem;
    width: 7rem;
    text-align: center;
    cursor: pointer;
}
#prevPage:hover,#nextPage:hover{
    background-color: #0056b3;
    transition: .4s;
    color: white;
    border-color: #0056b3;
}

nav h1 {
    color: #666666;
    padding: 40px;
    font-size: 28px;
}
nav a{
    color:inherit;
    text-decoration: none;
}

nav form {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav form input {
    font-size: 15px;
    border: none;
    overflow: hidden;
    border-radius: 2px;
    padding: 8px;
    letter-spacing: 1px;
}
.pagination button{
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background-color: #336699;
    padding: 8px;
    letter-spacing: 1px;
}
nav form button {
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background-color: #336699;
    padding: 8px;
    letter-spacing: 1px;
}

.content {
    height: 100%;
    display: flex;
    background-color: #fff;
}

.left-side {
    border-right: 1px solid #333333;
    min-height:100vh;
    height: 100%;
    width: 150px;
    background-color: #336699;
}

.left-side ul {
    list-style: none;
}
.left-side ul li {
    display: block;
    padding: 7px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}



.left-side li a:hover {
    background-color: #ddd;
}


.right-side {
    height: 100%;
    flex: 1;
    width: 100%;
}

.right-side .card-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.right-side .card-container .card {
    max-height: 400px;
    width: calc(20% - 20px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-side .card-container .card .img{
  height: 100px !important;
  
}
.right-side .card-container .card img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 5px;
    margin-bottom: 10px;
}

.right-side .card-container .card h3 {
    margin-top: 0;
}

.right-side .card-container .card p {
    margin-bottom: 5px;
}

.right-side .card-container .card .detail-button {
    padding: 8px 16px;
    background-color: #336699;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.right-side .card-container .card .detail-button:hover {
    background-color: #0056b3;
}





