*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    background-color: #333333 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav h1{ 
    color: #666666  ;
    padding: 40px;
    font-size: 28px;
}
nav form{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav form input{
    font-size: 15px;
    border: none;
    overflow: hidden;
    border-radius: 2px;
    padding: 8px;
    letter-spacing: 1px;
}
nav form button{
    font-size: 15px;
    border: none;
    border-radius: 2px;
    background-color: #336699;
    padding: 8px;
    letter-spacing: 1px;
}

.content{
    height: 600px;
    display: flex;
    background-color: #fff;
}
.left-side{
    width: 150px;
    background-color: #336699;
}
.left-side ul{
    list-style: none;
}
.left-side li a{
    display: block; 
    padding: 15px; 
    text-decoration: none; 
    color: #000000; 
}
.left-side li a:hover{
    background-color: #ddd;
}


.right-side{}


footer {
    height: calc(100vh - 70px - 600px);
    background-color: #222222 ; 
    color: #cccccc; 
    text-align: center;
    padding: 20px 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
  }